## Visual Studio / IDE
.vs/
*.suo

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Build artifacts
CustomQuizHost.Server/wwwroot/
**/obj/
**/obj*/
**/bin/
**/node_modules/
**/dist/

## Uploaded media files
CustomQuizHost.Server/uploads/

## Soundboard definition
CustomQuizHost.Server/soundboard/